@charset "utf-8";
/* CSS Document */

body {
		margin:0px;	
		padding:0px;
	}
	

#header{
		width:100%;
		height:140px;
		/*border-top-left-radius:20px;
		border-top-right-radius:20px;
		border-bottom-left-radius:10px;
		border-bottom-right-radius:10px;*/
		background:url(../img/bnr.jpg);
		background-size:100% 100%;
	}
	
#navmenu{
		width:100%;
		height:35px;
		//border-radius:10px;
		background-color:#00CCFF;
		margin-top:3px;
		margin-bottom:3px;
		

	}
	
#navmenu ul{
		margin:0px;
	
	}
	
#navmenu  ul li{
		width:12%;
		list-style:none;
		float:left;
		margin-top:8px;
	
	}
	
#navmenu  ul li a{
		height:27px;
		text-align:center;
		text-decoration:none;
		display:block;
		color:black;
		font-family:Helvetica, Trebuchet MS, Arial, sans-serif;
		font-size:15px;
		//overflow:visible;
	
	}	
	
#navmenu  ul li a:hover{
		color:#000099;
	
	}
	
	
#navmenu ul li ul	{
						position:absolute;
						visibility:hidden;	
						overflow:visible;
						background-color:#00CCFF;
						opacity:.8;
					}
					
#navmenu ul li ul li {
					margin:10px;
   					float: none;
    				z-index: 12;
					}
					
#navmenu ul li:hover ul	{
							
							visibility:visible;
							//border-top: 0px 4px 4px 4px;
							//border:4px solid #CCC ;
							border-bottom-left-radius: 10px;
							border-bottom-right-radius: 10px;
							//margin-left:50px;
							overflow:visible;
							z-index:200;
						}



#navmenu ul li:hover ul a	{
								width:180px;
								color:black;
								text-align: left 50px;
								margin-left:-45px;
								//background-color:black;
								//visibility:visible;
								//position:relative;
								//overflow:visible;
								z-index:200;
							}

#navmenu ul li:hover ul li a:hover	{
										font-weight:bolder;
										color:blue;
										
										//position:relative;
										//overflow:visible;
									}

	
#bodypart{
		width:100%;
		height:500px;
		/*border-top-left-radius:10px;
		border-top-right-radius:10px;
		border-bottom-left-radius:20px;
		border-bottom-right-radius:20px;*/
		background:url(../img/aems.jpg);
		//background-color:red;
		background-size:100% 100%;
		
	
	}

#reg	{
			width:100%;
			//height:550px;
			min-height:450px; 
			/*border-top-left-radius:10px;
			border-top-right-radius:10px;
			border-bottom-left-radius:20px;
			border-bottom-right-radius:20px;*/
			//margin-top:5px;
			padding-bottom:20px;
			background:url(../img/aems.jpg);
			background-size:100% 100%;
			font-family: Trebuchet MS;
			font-size:14px;
			//background-color:black;
		}	
#log{
		width:100%;
		height:380px;
		padding-top:100px;
		//background-color:#0C0;	
	
	}  
	
#leftbody{
		width:25%;
		height:480px;
		float:left;
		margin-top:10px;
		//background-color:#9900FF;	
	
	}
/*Slideshow css start Here */	
#slideshow{
	background-color:#F5F5F5;
	border:1px solid #FFFFFF;
	height:350px;
	margin:50px auto 0;
	position:relative;
	width:50%;
	float:left;
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
}

#slideshow ul{
	height:320px;
	left:-22px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	width:100%;
}

#slideshow li{
	position:absolute;
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	//overflow:visible;
	//overflow:hidden;
	z-index:100;
}

#slideshow .slideActive{
	z-index:100;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index50;
}

#slideshow .arrow{
	height:86px;
	width:60px;
	position:absolute;
	//background:url(../img/bp1.jpg);
	background:url(../img/arrows.png) no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:110;
}

#slideshow .previous{ 
	background-position:left top;
	left:0;
	}
#slideshow .previous:hover{
	background-position:left bottom;
	}

#slideshow .next{ 
	background-position:right top;
	right:0;
	}
#slideshow .next:hover{ 
	background-position:right bottom;
	}


/*Slideshow css ends Here */
	
#rightbody{
		width:20%;
		height:480px;
		float:left;
		margin-top:10px;
		//background-color:#C9F;	
	
	}
	
	
#footer{
		width:100%;
		height:70px;
		margin-top:3px;
		//border-radius:20px;
		background-color:#99FF99;
		
	}
	
img.HoverBorder {
		border: groove white; 
		border-radius:5px;
		}
img.HoverBorder:hover {
		border:5px solid #090; 
		border-radius:5px;
		}